.dealer {
    color: white;
    background-color: rgb(53, 53, 221);
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    align-content: center;
    justify-content: center;
    text-emphasis-position: center;
    justify-items: center;
    padding: 10px;
}

.player {
    color: white;
    background-color: red;
    grid-row: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    align-content: center;
    justify-content: center;
    text-emphasis-position: center;
    justify-items: center;
    padding: 10px;
}

#bust {
    color: gold;
    font-size:35px;
    grid-row: 3;
    grid-column: 4 / 7;
    display: flex;
    align-content: center;
    justify-content: center;
    text-emphasis-position: center;
    justify-items: stretch;
}

body {
    background: #076324;
    opacity: .8;
    display: grid;
    align-items: center;
    grid-template-rows: 120px 245px 130px 245px 120px;
    grid-template-columns: 210px 210px 210px 210px 210px 210px 210px 210px;
}

.deck {
    z-index: 1;
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;

}

#hit {
    color: white;
    background: red;
    border: 1px solid white;
    grid-row-start: 3;
    grid-column: 1;
    font-size: 35px;
    padding: 40px;
}

#stand {
    color: white;
    background: rgb(53, 53, 221);
    border: 1px solid white;
    grid-row: 4;
    grid-column: 1;
    font-size: 35px;
    padding: 40px;
    align-self: baseline
}

#rules {
    color: white;
    background: black;
    border: 1px solid white;
    grid-row: 5;
    grid-column: 8;
    font-size: 25px;
    padding: 40px;
    opacity: .8;
}



#player2 {
    color: white;
    grid-row: 5;
    grid-column: 6;
    margin: 5px;
    font-size: 25px;
}



#dealer2{
    color: white;
    grid-row: 1;
    grid-column: 6;
    margin: 5px;
    font-size: 25px;
}

#reset {
    grid-row:5;
    grid-column: 1;
    padding: 40px;
    font-size: 35px;
    color: white;
    background: black;
    opacity: .7;
}





.dealcard1{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
    padding: 5px;
}

.dealcard2{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
    padding: 5px;
}

.dealcard3{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
    padding: 5px;
}

.dealcard4{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
    padding: 5px;
}

.dealcard5{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
    padding: 5px;
}

.playcard1{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
}

.playcard2{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
}

.playcard3{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
}

.playcard4{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
}

.playcard5{
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
}

#rulesText {
    grid-row: 3;
    grid-column: 3/8;
    font-size: 48px;
    background: black;
    color: white;
    z-index: 1;
}

.hidden {
    opacity: 0;
}



#okay {
    font-size: 30px;
}