.dealer {
    color: white;
    background-color: rgb(53, 53, 221);
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 6;
}

.player {
    color: white;
    background-color: red;
    grid-row: 5;
    grid-column-start: 5;
    grid-column-end: 6;
}

#bust {
    color: gold;
    font-size:35px;
    grid-row: 3;
    grid-column: 4 / 7;
    display: flex;
    align-content: center;
    justify-content: center;
    text-emphasis-position: center;
    justify-items: stretch;
}

body {
    background: #076324;
    opacity: .8;
    display: grid;
    align-items: center;
    grid-template-rows: 120px 240px 120px 240px 120px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
}

.deck {
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 200px;
}

#hit {
    color: white;
    background: red;
    grid-row-start: 3;
    grid-column: 1;
    font-size: 35px;
    padding: 40px;
}

#stand {
    color: white;
    background: rgb(53, 53, 221);
    grid-row: 4;
    grid-column: 1;
    font-size: 35px;
    padding: 40px;
    align-self: baseline
}

#player1 {
    grid-row: 4;
    grid-column: 5 / 6;
    font-size: 30px;
}

#player2 {
    grid-row: 5;
    grid-column: 6;
}

#dealer1{
    grid-row: 2;
    grid-column: 5/6;
    font-size:30px;
}

#dealer2{
    grid-row: 1;
    grid-column: 6;
}

#reset {
    grid-row:5;
    grid-column: 1;
    padding: 40px;
    font-size: 35px;
    color: white;
    background: black;
    opacity: .7;
}

.dealcard1{
    grid-row: 2;
    grid-column: 3;
    height: 240px;
    width: 200px;
}

.dealcard2{
    grid-row: 2;
    grid-column: 4;
    height: 240px;
    width: 200px;
}

.dealcard3{
    grid-row: 2;
    grid-column: 5;
    height: 240px;
    width: 200px;
}

.dealcard4{
    grid-row: 2;
    grid-column: 6;
    height: 240px;
    width: 200px;
}

.dealcard5{
    grid-row: 2;
    grid-column: 7;
    height: 240px;
    width: 200px;
}

.playcard1{
    grid-row: 4;
    grid-column: 3;
    height: 240px;
    width: 200px;
}

.playcard2{
    grid-row: 4;
    grid-column: 4;
    height: 240px;
    width: 200px;
}

.playcard3{
    grid-row: 4;
    grid-column: 5;
    height: 240px;
    width: 200px;
}

.playcard4{
    grid-row: 4;
    grid-column: 6;
    height: 240px;
    width: 200px;
}

.playcard5{
    grid-row: 4;
    grid-column: 7;
    height: 240px;
    width: 200px;
}